@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Header */
.logo {
  @apply flex flex-col items-center min-w-fit mx-5;
}

.line {
  @apply mx-2 w-full h-2 border-2 border-gray-500 rounded-full;
}
/* Header - End */

/* Main */
.btn--gray {
  @apply px-4 py-1 bg-gray-600 border-2 border-gray-600 text-white font-semibold hover:bg-transparent hover:text-gray-600 duration-300;
}
/* Main - End */
